<!doctype html>
{% load static %}
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>班级云服务平台</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="{% static 'css/font.css' %}">
        <link rel="stylesheet" href="{% static 'css/xadmin.css' %}">
        <link rel="shortcut icon" href="{% static 'images/logo2.ico' %}">
        <script src="https://cdn.bootcss.com/sweetalert/2.1.0/sweetalert.min.js"></script>
        <script src="{% static 'lib/layui/layui.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
            // 是否开启刷新记忆tab功能
            var is_remember = true;
        </script>
    </head>
    <body class="index">
        <!-- 顶部开始 -->
        <div class="container">
            <div class="logo">
                <a href="/class/admin/">班级云服务平台</a></div>
            <div class="left_open">
                <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
            </div>

            {% if m %}
                <script>
                    swal('平台通知','{{ m }}','error');
                </script>
            {% endif %}


            <ul class="layui-nav right" lay-filter="">
                <li class="layui-nav-item">
                    <a href="javascript:;">{{ login_user }}</a>
                    <dl class="layui-nav-child">
                        <!-- 二级菜单 -->
                        <dd>
                            <a onclick="xadmin.open('个人信息','/class/only/',600,400)">个人信息</a></dd>
                        <dd>
                            <a href="/class/login/">切换帐号</a></dd>
                        <dd>
                            <a href="/class/logout/">退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item to-index">
                    <a href="/admin/">后台首页</a></li>
            </ul>
        </div>
        <!-- 顶部结束 -->
        <!-- 中部开始 -->
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="服务文档">&#xe6a2;</i>
                            <cite>服务文档</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('帮助文档','/class/help/')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>帮助文档</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('更新日志','/class/log/')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>更新日志</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="任务管理">&#xe6bf;</i>
                            {% if is_ti == 1 %}
                                <cite>任务管理  <span class="layui-badge-dot"></span></cite>
                            {% else %}
                                <cite>任务管理</cite>
                            {% endif %}
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('任务列表','/class/task_list/')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    {% if is_ti == 1 %}
                                        <cite>任务列表 <span class="layui-badge-dot"></span></cite></a>
                                    {% else %}
                                        <cite>任务列表</cite></a>
                                    {% endif %}
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('任务发布','/class/form/')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>任务发布</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('任务数据反馈','/class/feedback/')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>任务数据反馈</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont left-nav-li" lay-tips="班级管理">&#xe726;</i>
                            <cite>班级管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i></a>
                        <ul class="sub-menu">
                            <li>
                                <a onclick="xadmin.add_tab('班委列表','/class/committee/')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>班委列表</cite></a>
                            </li>
                            <li>
                                <a onclick="xadmin.add_tab('学生管理','/class/role/')">
                                    <i class="iconfont">&#xe6a7;</i>
                                    <cite>学生管理</cite></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('app下载','/class/app/')">
                            <i class="iconfont left-nav-li" lay-tips="app下载">&#xe6b4;</i>
                            <cite>app下载</cite></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="x-slide_left"></div> -->
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
            <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
                <ul class="layui-tab-title">
                    <li class="home">
                        <i class="layui-icon">&#xe68e;</i>我的桌面</li></ul>
                <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
                    <dl>
                        <dd data-type="this">关闭当前</dd>
                        <dd data-type="other">关闭其它</dd>
                        <dd data-type="all">关闭全部</dd></dl>
                </div>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <iframe src='/class/welcome/' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                    </div>
                </div>
                <div id="tab_show"></div>
            </div>
        </div>
        <div class="page-content-bg"></div>
        <style id="theme_style"></style>
        <!-- 右侧主体结束 -->
        <!-- 中部结束 -->
    </body>

</html>