<!DOCTYPE html>
{% load static %}
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="{% static 'css/font.css' %}">
        <link rel="stylesheet" href="{% static 'css/xadmin.css' %}">
        <script src="{% static 'lib/layui/layui.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">服务文档</a>
            <a>
              <cite>更新日志</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                          更新日志
                        </div>
                        <div class="layui-card-body ">
                          <ul class="layui-timeline">
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2023-03-30</h3>
                                <p>
                                  修改 x_admin_show 弹出窗口实现最大化，默认窗口非最大化，如果需要弹出窗口最大化，在最后一个参数传 true <br>  

                                  修复x_admin_add_to_tab 函数bug，在多个页面切换过程的报错。<br>

                                  x_admin_show(title,url,w,h,full=false)
                                </p>
                              </div>
                            </li>
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2023-03-31</h3>
                                <p>增加了雪花算法来统一班级编号，将各个分散学生集中起来<br>
用法:<br>
班长注册的帐号具有唯一性的班级编号，进行添加学生<br>
在学生管理模块，实现了显示班级全体学生功能</p>
                              </div>
                            </li>
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2023-03-31</h3>
                                <p>
                                  实现了学生管理的增删改查功能，并增加了权限管理，针对某一个群体的权限限制
                                </p>
                              </div>
                            </li>
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2023-04-01</h3>
                                <p>
                                  实现学生花名册导入功能<br>
在学生管理模块中，可以直接导入包含学生学号姓名等信息的excel表格
                                </p>
                              </div>
                            </li>
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2023-04-02</h3>
                                <p>
                                  开发并添加了发布任务模块以及对注册邮件发送功能进行了升级<br>
任务发布模块包含三种任务的发布，以及任务信息查看、任务数据反馈等<br>
淘汰掉邮箱验证码方式，改用激活帐号进行注册<br>
添加了异步任务，利用session保持登录会话，以及更改了学生模块管理员权限<br>
                                </p>
                              </div>
                            </li>
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2023-04-04</h3>
                                <p>实现了签到任务的发布以及ip解析检测签到位置，以及任务查看功能<br>
解决了任务时间差<0的情况，记录发布位置，解析ip得到签到用户的地址，检测范围合法性<br>
对任务添加了id，并增加了查询任务功能<br>
对任务状态检验算法进行了加强，避免了未完成却显示完成的bug<br>
                                </p>
                              </div>
                            </li>
                              <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2023-04-07</h3>
                                <p>
                                  完善任务查看功能，开发任务数据反馈模块<br>
对任务状态检验加强，增加了无法重复提交功能<br>
对任务id进行解析，获取全班用户，将未完成用户反馈到数据反馈列表中<br>
                                </p>
                              </div>
                            </li>
                              <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2023-04-09</h3>
                                <p>开发了文件收集作业以及分组任务<br>
增加了上传附件功能，以及提供任务显示下的下载附件按钮，以及上传文件作业功能<br>
增加了分组任务，将各组记录在excel表格中，并提供下载反馈数据功能<br>
                                </p>
                              </div>
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2023-04-11</h3>
                                <p>
                                  增强了任务数据结果下载的权限设置，避免了他人抄袭的可能性<br>
                                </p>
                              </div>
                            </li>
                            </li>
                              <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2023-04-12</h3>
                                <p>
                                  提供了个人信息更改功能以及邮件、密码等重要信息邮件激活修改功能<br>
                                    增加了作业未完成提示<br>
                                </p>
                              </div>
                            </li>
                            <li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2023-10-02</h3>
                                <p>
                                  解决了修改学生信息跳转bug，以及亲测发现作业上传文件大小限制<br>
                                  100M以内上传时间低于1分钟，200M文件上传时间2分钟左右，时间随着文件大小递增<br>
                                </p>
                              </div>
                            </li><li class="layui-timeline-item">
                              <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                              <div class="layui-timeline-content layui-text">
                                <h3 class="layui-timeline-title">2023-10-03</h3>
                                <p>
                                  增加了对未按规则输入所产生的无效任务进行拦截<br>
                                </p>
                              </div>
                            </li>

                          </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </body>
          </html>